* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

.square {
    width: 95px;
    height: 95px;
    background-color: #3a3a3a;
}

.start {
    float: inline-start;
    margin-right: 10px;
    margin-bottom: 10px;

}
.end {
    float: inline-end;
    margin-top: 10px;
    margin-left: 10px;
}