*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 30px; */
}

.square {
    width: 80%;
    height: 35%;
    background-color:rgb(66, 66, 66);
    padding: 30px;
    color: white;
}

.square-one {
    border-radius: 30px;
    text-align: end;
    text-transform: uppercase;
}
.square-two {
    border: 5px;
    border-color: red;
    border-style: solid;
    overflow-y: auto;
}
